In [37]:
import os
import pandas as pd

In [64]:
cwd = os.getcwd() # dirname(abspath(__file__))
BASE_DIR = os.path.dirname(cwd)
DATA_DIR = os.path.join(BASE_DIR, 'data')
CACHE_DIR = os.path.join(BASE_DIR, 'cache')
working_file = os.path.join(CACHE_DIR, "movies-box-office-dataset.csv")
output_file = os.path.join(CACHE_DIR, 'movies-box-office-dataset-cleaned.csv')

In [39]:
df = pd.read_csv(working_file)

In [40]:
df.head(n=10)

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,year
0,1,Bad Boys for Life,"$425,514,702","$204,417,855",48%,"$221,096,847",52%,2020.csv,2020
1,2,Sonic the Hedgehog,"$306,766,470","$146,066,470",47.6%,"$160,700,000",52.4%,2020.csv,2020
2,3,Dolittle,"$227,908,130","$77,047,065",33.8%,"$150,861,065",66.2%,2020.csv,2020
3,4,Birds of Prey: And the Fantabulous Emancipatio...,"$201,858,461","$84,158,461",41.7%,"$117,700,000",58.3%,2020.csv,2020
4,5,The Invisible Man,"$124,549,496","$64,914,050",52.1%,"$59,635,446",47.9%,2020.csv,2020
5,6,The Gentlemen,"$117,769,345","$36,296,853",30.8%,"$81,472,492",69.2%,2020.csv,2020
6,7,The Call of the Wild,"$107,604,626","$62,342,368",57.9%,"$45,262,258",42.1%,2020.csv,2020
7,8,The Grudge,"$49,511,319","$21,221,803",42.9%,"$28,289,516",57.1%,2020.csv,2020
8,9,Fantasy Island,"$48,607,556","$26,441,782",54.4%,"$22,165,774",45.6%,2020.csv,2020
9,10,Underwater,"$40,882,928","$17,291,078",42.3%,"$23,591,850",57.7%,2020.csv,2020

In [41]:
df["Rank"]= -1

In [42]:
df.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,year
0,-1,Bad Boys for Life,"$425,514,702","$204,417,855",48%,"$221,096,847",52%,2020.csv,2020
1,-1,Sonic the Hedgehog,"$306,766,470","$146,066,470",47.6%,"$160,700,000",52.4%,2020.csv,2020
2,-1,Dolittle,"$227,908,130","$77,047,065",33.8%,"$150,861,065",66.2%,2020.csv,2020
3,-1,Birds of Prey: And the Fantabulous Emancipatio...,"$201,858,461","$84,158,461",41.7%,"$117,700,000",58.3%,2020.csv,2020
4,-1,The Invisible Man,"$124,549,496","$64,914,050",52.1%,"$59,635,446",47.9%,2020.csv,2020

In [43]:
df['Domestic %'] = df['%']
df['Foreign %'] = df['%.1']
df.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,year,Domestic %,Foreign %
0,-1,Bad Boys for Life,"$425,514,702","$204,417,855",48%,"$221,096,847",52%,2020.csv,2020,48%,52%
1,-1,Sonic the Hedgehog,"$306,766,470","$146,066,470",47.6%,"$160,700,000",52.4%,2020.csv,2020,47.6%,52.4%
2,-1,Dolittle,"$227,908,130","$77,047,065",33.8%,"$150,861,065",66.2%,2020.csv,2020,33.8%,66.2%
3,-1,Birds of Prey: And the Fantabulous Emancipatio...,"$201,858,461","$84,158,461",41.7%,"$117,700,000",58.3%,2020.csv,2020,41.7%,58.3%
4,-1,The Invisible Man,"$124,549,496","$64,914,050",52.1%,"$59,635,446",47.9%,2020.csv,2020,52.1%,47.9%

In [44]:
# df.drop(columns=['%', '%.1'])
# df.drop(['%', '%.1'], axis=1)  #drop column
df.drop(['%', '%.1'], axis=1, inplace=True)

In [45]:
df.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
0,-1,Bad Boys for Life,"$425,514,702","$204,417,855","$221,096,847",2020.csv,2020,48%,52%
1,-1,Sonic the Hedgehog,"$306,766,470","$146,066,470","$160,700,000",2020.csv,2020,47.6%,52.4%
2,-1,Dolittle,"$227,908,130","$77,047,065","$150,861,065",2020.csv,2020,33.8%,66.2%
3,-1,Birds of Prey: And the Fantabulous Emancipatio...,"$201,858,461","$84,158,461","$117,700,000",2020.csv,2020,41.7%,58.3%
4,-1,The Invisible Man,"$124,549,496","$64,914,050","$59,635,446",2020.csv,2020,52.1%,47.9%

In [49]:
to_clean_cols = ['Worldwide', 'Domestic', 'Foreign']

def currency_str_to_int(current_val):
    currency_val = current_val.replace("$", "").replace(",", "")
    try:
        currency_val = int(currency_val)
    except:
        # Takes any row value with "-" and turns into 0
        currency_val = 0
    return currency_val 

def clean_col(row):
    """
    row = Pandas Series
    dataframe = collection of Pandas Series
    """
    # print(row)
    for col in to_clean_cols: 
        current_val = row[col] #get the value for each column row 
        row[col] = currency_str_to_int(current_val)#convert the cell value
    return row

df_cleaned = df.apply(clean_col, axis=1) #pass in row=1 #reassign the result to a new dataframe
df_cleaned.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
0,-1,Bad Boys for Life,425514702,204417855,221096847,2020.csv,2020,48%,52%
1,-1,Sonic the Hedgehog,306766470,146066470,160700000,2020.csv,2020,47.6%,52.4%
2,-1,Dolittle,227908130,77047065,150861065,2020.csv,2020,33.8%,66.2%
3,-1,Birds of Prey: And the Fantabulous Emancipatio...,201858461,84158461,117700000,2020.csv,2020,41.7%,58.3%
4,-1,The Invisible Man,124549496,64914050,59635446,2020.csv,2020,52.1%,47.9%

In [47]:
df_cleaned.dtypes #get datatypes

Rank              int64
Release Group    object
Worldwide         int64
Domestic          int64
Foreign           int64
filename         object
year              int64
Domestic %       object
Foreign %        object
dtype: object

In [50]:
df.dtypes

Rank              int64
Release Group    object
Worldwide        object
Domestic         object
Foreign          object
filename         object
year              int64
Domestic %       object
Foreign %        object
dtype: object

In [52]:
df_cleaned.sort_values(by=['Worldwide'], inplace=True, ascending=False) # the data is renamed in place (replace the original)
df_cleaned.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
0,-1,Bad Boys for Life,425514702,204417855,221096847,2020.csv,2020,48%,52%
1,-1,Sonic the Hedgehog,306766470,146066470,160700000,2020.csv,2020,47.6%,52.4%
2,-1,Dolittle,227908130,77047065,150861065,2020.csv,2020,33.8%,66.2%
3,-1,Birds of Prey: And the Fantabulous Emancipatio...,201858461,84158461,117700000,2020.csv,2020,41.7%,58.3%
4,-1,The Invisible Man,124549496,64914050,59635446,2020.csv,2020,52.1%,47.9%

In [55]:
df_cleaned.reset_index(inplace=True, drop=True) #reset index value and drop original index
df_cleaned.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
0,-1,Bad Boys for Life,425514702,204417855,221096847,2020.csv,2020,48%,52%
1,-1,Sonic the Hedgehog,306766470,146066470,160700000,2020.csv,2020,47.6%,52.4%
2,-1,Dolittle,227908130,77047065,150861065,2020.csv,2020,33.8%,66.2%
3,-1,Birds of Prey: And the Fantabulous Emancipatio...,201858461,84158461,117700000,2020.csv,2020,41.7%,58.3%
4,-1,The Invisible Man,124549496,64914050,59635446,2020.csv,2020,52.1%,47.9%

In [57]:
df_cleaned['Rank'] = df_cleaned.index + 1
df_cleaned.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
0,1,Bad Boys for Life,425514702,204417855,221096847,2020.csv,2020,48%,52%
1,2,Sonic the Hedgehog,306766470,146066470,160700000,2020.csv,2020,47.6%,52.4%
2,3,Dolittle,227908130,77047065,150861065,2020.csv,2020,33.8%,66.2%
3,4,Birds of Prey: And the Fantabulous Emancipatio...,201858461,84158461,117700000,2020.csv,2020,41.7%,58.3%
4,5,The Invisible Man,124549496,64914050,59635446,2020.csv,2020,52.1%,47.9%

In [60]:
df_cleaned['Domestic %'] = df_cleaned['Domestic'] / df_cleaned['Worldwide']
df_cleaned['Foreign %'] = df_cleaned['Foreign'] / df_cleaned['Worldwide']
df_cleaned.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
0,1,Bad Boys for Life,425514702,204417855,221096847,2020.csv,2020,0.480401,0.519599
1,2,Sonic the Hedgehog,306766470,146066470,160700000,2020.csv,2020,0.476149,0.523851
2,3,Dolittle,227908130,77047065,150861065,2020.csv,2020,0.338062,0.661938
3,4,Birds of Prey: And the Fantabulous Emancipatio...,201858461,84158461,117700000,2020.csv,2020,0.416918,0.583082
4,5,The Invisible Man,124549496,64914050,59635446,2020.csv,2020,0.521191,0.478809

In [65]:
df_cleaned.to_csv(output_file, index=False)